<div class="row">
  <div class="col-sm-4">
    <div class="card border border-primary text-center">
      <div class="card-body">
        <h5 class="card-title">CONFIRMED CASES</h5>
        <p class="card-text text-muted">This tile displays the number of confirmed Covid-19 cases {{scope}}.</p>
        <h2 class="text-primary">{{data.confirmed}}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border border-success text-center">
      <div class="card-body">
        <h5 class="card-title ">RECOVERED CASES</h5>
        <p class="card-text text-muted">This tile displays the number of recovered Covid-19 patients {{scope}}.</p>
        <h2 class="text-success">{{data.recovered}}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border border-danger text-center">
      <div class="card-body">
        <h5 class="card-title">DEATHS</h5>
        <p class="card-text text-muted ">This tile displays the number of deaths due to Covid-19 {{scope}}.</p>
        <h2 class="text-danger">{{data.deaths}}</h2>
      </div>
    </div>
  </div>
</div>
