<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Confirmed</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Recovered</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
  <label class="form-check-label" for="inlineRadio3">Deaths</label>
</div>

<table class="table" style="margin-top: 50px;">
    <thead>
      <tr>
        <th scope="col">DAY</th>
        <th scope="col">DATE</th>
        <th scope="col">CASES</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td>{{data.date}}</td>
          <td>{{data.country}}</td>
          <td>Confirmed</td>
          
        </tr>
        <tr>
          <td>2</td>
          <td>2020-02-25</td>
          <td>5</td>
          <td>Confirmed</td>
          
        </tr>
        <tr>
          <td>3</td>
          <td>2020-02-26</td>
          <td>11</td>
          <td>Confirmed</td>
          
        </tr>
        <tr>
          <td>4</td>
          <td>2020-02-27</td>
          <td>30</td>
          <td>Confiremd</td>
          
        </tr>
        <tr>
          <td>5</td>
          <td>2020-02-28</td>
          <td>90</td>
          <td>Confirmed</td>
          
        </tr>
        <tr>
          <td>6</td>
          <td>2020-03-1</td>
          <td>120</td>
          <td>Confirmed</td>
          
        </tr>
        <tr>
            <td>7</td>
            <td>2020-03-2</td>
            <td>160</td>
            <td>Confirmed</td>
            
          </tr>
    </tbody>
  </table>